{% extends "layout.html" %}
{% block body %}
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<a class="logo">Join Us</a>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul class="links">
							<li><a href="{{url_for('index') }}">Home</a></li>
							<li><a href="{{ url_for('about')  }}">About</a></li>
							<li><a href="{{  url_for('generic')  }}">Board</a></li>
							<li><a href="{{ url_for('elements')  }}">Donate</a></li>
							<li class="active"><a href="{{ url_for('apply')  }}">Apply</a></li>
							<li><a href="{{ url_for('publicity')  }}">Publicity</a></li>
							<li><a href="{{ url_for('faq')  }}">FAQ</a></li>							
						</ul>
						<ul class="icons">
							<li><a href="https://www.facebook.com/dynamitnonprofit/" class="icon fa-facebook" target="_blank"><span class="label" >Facebook</span></a></li>
							<li><a href="https://github.com/MIT-dynaMIT" class="icon fa-github" target="_blank"><span class="label">GitHub</span></a></li>
						</ul>
					</nav>


				<!-- Main -->
					<div id="main">
						<article class="post featured">
							<header class="major">
								<h1>Be Part of DynaMIT</h1>
							</header>
							<p> Whether you are a parent looking to enroll your kids in our program
								or an MIT student who wants to be a mentor for the summer, we'd love for
								you to join us. All applications for camp and for mentors open in the spring.
								If you want to join our internal team, board applications typically open in the fall!
						</article>
						<section class="posts">
							<article>
								<header>
									<h2>Students</h2>
								</header>
								<a class="image fit"><img src="{{url_for('static', filename='images/student.jpg')}}" alt="" /></a>
								<p>
									 The student application for dynaMIT's fall of 2022 program is now open! We accept students who will be entering 6th, 7th, 8th, or 9th grades in the 2021-2022 School Year (must be at least 11 years old by the start of dynaMIT), and the application will close on SUNDAY April 17th at 11:59 PM EST.</b>
<!--									The student application for the fall of 2021 is now closed. Check back next year!-->
								</p>
								<ul class="actions">
									<li><a href="/apply/students" class="button">Be a part of dynaMIT!</a></li>
								</ul>
							</article>
							<!-- <article>
								<header>
									<h2>Board</h2>
								</header>
								<a class="image fit"><img src="{{url_for('static', filename='images_19_20/board_portrait.jpg')}}" alt="" /></a>
								<p>
									Are you a current MIT student and want to help plan the curriculum that makes this program possible?
									The board application for dynaMIT is now open! Applications are due on Friday, September 18th by 11:59pm EDT. </b>
								</p>
								<ul class="actions">
										<li><a href="/apply/board" class="button">Join the dynaMIT Board!</a></li>
									</ul>
							</article> -->
							<article>
								<header>
									<h2>Mentors</h2>
								</header>
								<a class="image fit"><img src="{{url_for('static', filename='images/mentor.jpg')}}" alt="" /></a>
								<p>
									 The mentor application for dynaMIT summer of 2022 is now open. Applications will close Sunday, March 6th at 11:59 PM EST.</b>
<!--									The mentor application for dynaMIT summer of 2021 is now closed.</b>-->
								</p>
								<ul class="actions">
										<li><a href="/apply/mentors" class="button">Teach at dynaMIT!</a></li>
									</ul>
							</article>
						</section>
					</div>

{% endblock %}
