{% extends "layout.html" %}
{% block body %}
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<a class="logo">Join Us</a>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul class="links">
							<li><a href="{{url_for('index') }}">Home</a></li>
							<li><a href="{{ url_for('about')  }}">About</a></li>
							<li><a href="{{  url_for('generic')  }}">Board</a></li>
							<li><a href="{{ url_for('elements')  }}">Donate</a></li>
							<li class="active"><a href="{{ url_for('apply')  }}">Apply</a></li>
							<li><a href="{{ url_for('faq')  }}">FAQ</a></li>							
						</ul>
						<ul class="icons">
							<li><a href="https://www.facebook.com/dynamitnonprofit/" class="icon fa-facebook" target="_blank"><span class="label" >Facebook</span></a></li>
							<li><a href="https://github.com/MIT-dynaMIT" class="icon fa-github" target="_blank"><span class="label">GitHub</span></a></li>
						</ul>
					</nav>


				<!-- Main -->
					<div id="main">
						<article class="post featured">
							<header class="major">
								<h1>Be Part of DynaMIT</h1>
							</header>
							<p> Whether you are a parent looking to enroll your kids in our program or an MIT student who want to be a mentor for the summer, we'd love for you to join us. All applications for camp and for mentors open in the spring.
						</article>
						<section class="posts">
							<article>
								<header>
									<h2>Students</h2>
								</header>
								<a class="image fit"><img src="{{url_for('static', filename='images/student.jpg')}}" alt="" /></a>
								<p>
									The student application for dynaMIT summer of 2018 are currently closed! Check back Spring 2019 for the next application!</b>
								</p>
								<ul class="actions">
									<li><a href="/apply/students" class="button">Be a part of dynaMIT!</a></li>
								</ul>
							</article>
							<article>
								<header>
									<h2>Mentors</h2>
								</header>
								<a class="image fit"><img src="{{url_for('static', filename='images/mentor.jpg')}}" alt="" /></a>
								<p>
									The mentor application for dynaMIT summer of 2018 are currently closed! Check back Spring 2019 for the next application!</b>
								</p>
							</article>
						</section>
					</div>

{% endblock %}
