{% extends "layout.html" %}
{% block body %}
<body class="is-loading">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <a class="logo">The People Who Make It Happen</a>
    </header>

    <!-- Nav -->
    <nav id="nav">
        <ul class="links">
            <li><a href="{{url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('about')  }}">About</a></li>
            <li class="active"><a href="{{  url_for('generic')  }}">Board</a></li>
            <li><a href="{{ url_for('elements')  }}">Donate</a></li>
            <li><a href="{{ url_for('apply')  }}">Apply</a></li>
            <li><a href="{{ url_for('publicity')  }}">Publicity</a></li>
            <li><a href="{{ url_for('faq')  }}">FAQ</a></li>
        </ul>
        <ul class="icons">
            <li><a class="icon fa-facebook" href="https://www.facebook.com/dynamitnonprofit/" target="_blank"><span
                    class="label">Facebook</span></a></li>
            <li><a class="icon alt fa-instagram" href="https://www.instagram.com/mitdynamit/"
                target="_blank"><span class="label">Instagram</span></a></li>
            <li><a class="icon fa-github" href="https://github.com/MIT-dynaMIT" target="_blank"><span class="label">GitHub</span></a>
            </li>
        </ul>
    </nav>


    <div id="main">
        <article class="post featured">
            <header class="major">
                <h2><a>Meet Our Board</a></h2>
            </header>
        </article>

        <section class="posts">
            <article>
                <h2>Abigail Xu</h2>
                <a class='image fit'><img src='{{url_for("static", filename="images_2027s/abigail-xu.jpg")}}' alt='Abigail Xu' style='height: 512px; object-fit: contain;'/></a>
                <p>
                    <b>Pronouns:</b> she/her<br/>
                    <b>Major:</b> Computer Science/Economics<br/>
                    <b>Year:</b> 2027<br/>
                    <b>Hobbies:</b> dance, skiing, calligraphy<br/>
                    <b>Favorite Science Experiment:</b> rock candy<br/>
                    <b>Fun Fact:</b> I like raspberries!<br/>
                </p>
            </article>
            <article>
                <h2>Amalia Toutziaridi</h2>
                <a class='image fit'><img src='{{url_for("static", filename="images_2027s/amalia-toutziaridi.jpg")}}' alt='Amalia Toutziaridi' style='height: 512px; object-fit: contain;'/></a>
                <p>
                    <b>Pronouns:</b> she/her<br/>
                    <b>Major:</b> Computer Science<br/>
                    <b>Year:</b> 2027<br/>
                    <b>Hobbies:</b> Track & Field, Baking, Coding, Entrepreneurship<br/>
                    <b>Favorite Science Experiment:</b> Anything AI/Robotics related <br/>
                    <b>Fun Fact:</b> I'm from Athens, Greece :)<br/>
                </p>
            </article>
            <article>
                <h2>Andrew Zhang</h2>
                <a class='image fit'><img src='{{url_for("static", filename="images_2027s/andrew-zhang.jpg")}}' alt='Andrew Zhang' style='height: 512px; object-fit: contain;'/></a>
                <p>
                    <b>Pronouns:</b> he/him<br/>
                    <b>Major:</b> Math/Computer Science<br/>
                    <b>Year:</b> 2027<br/>
                    <b>Hobbies:</b> Cooking, Growing Plants, Sleeping<br/>
                    <b>Favorite Science Experiment:</b> Faraday Cage<br/>
                    <b>Fun Fact:</b> I can flip 5 eggs at the same time.<br/>
                </p>
            </article>
            <article>
                <h2>Anna Liu</h2>
                <a class='image fit'><img src='{{url_for("static", filename="images_2027s/anna-liu.jpg")}}' alt='Anna Liu' style='height: 512px; object-fit: contain;'/></a>
                <p>
                    <b>Pronouns:</b> she/her<br/>
                    <b>Major:</b> Chemistry<br/>
                    <b>Year:</b> 2027<br/>
                    <b>Hobbies:</b> cooking, ping pong, soap making<br/>
                    <b>Favorite Science Experiment:</b> Iodine clock reaction<br/>
                    <b>Fun Fact:</b> The only pencils I use are the BiC Xtra Sparkle Mechanical Pencils (in the old color set!!)<br/>
                </p>
            </article>
            <article>
                <h2>Archita Khaire</h2>
                <a class='image fit'><img src='{{url_for("static", filename="images_2027s/archita-khaire.jpg")}}' alt='Archita Khaire' style='height: 512px; object-fit: contain;'/></a>
                <p>
                    <b>Pronouns:</b> she/her<br/>
                    <b>Major:</b> Computer Science and Math<br/>
                    <b>Year:</b> 2027<br/>
                    <b>Hobbies:</b> Dance, horror movies, baking cookies<br/>
                    <b>Favorite Science Experiment:</b> Butterfly life cycle<br/>
                    <b>Fun Fact:</b> I once had my phone and credit card stolen on a school trip.<br/>
                </p>
            </article>
            <article>
                <h2>Dominique Dang</h2>
                <a class='image fit'><img src='{{url_for("static", filename="images_2027s/dominique-dang.png")}}' alt='Dominique Dang' style='height: 512px; object-fit: contain;'/></a>
                <p>
                    <b>Pronouns:</b> she/her<br/>
                    <b>Major:</b> Computer Science/Molecular Biology<br/>
                    <b>Year:</b> 2027<br/>
                    <b>Hobbies:</b> Ballroom dancing, reading, hiking, listening to jazz<br/>
                    <b>Favorite Science Experiment:</b> Cracking and making ciphers<br/>
                    <b>Fun Fact:</b> I know how to play 5 instruments! <br/>
                </p>
            </article>
            <article>
                <h2>Himani Kamineni</h2>
                <a class='image fit'><img src='{{url_for("static", filename="images_2027s/himani-kamineni.jpg")}}' alt='Himani Kamineni' style='height: 512px; object-fit: contain;'/></a>
                <p>
                    <b>Pronouns:</b> she/her<br/>
                    <b>Major:</b> Computer Science/Molecular Biology<br/>
                    <b>Year:</b> 2027<br/>
                    <b>Hobbies:</b> I play the bassoon and enjoy swimming.<br/>
                    <b>Favorite Science Experiment:</b> Elephant Toothpaste<br/>
                    <b>Fun Fact:</b> My favorite color is orange, but I don't really like eating oranges because they take too much time to peel.<br/>
                </p>
            </article>
            <article>
                <h2>Megan Zhu</h2>
                <a class='image fit'><img src='{{url_for("static", filename="images_2027s/megan-zhu.jpg")}}' alt='Megan Zhu' style='height: 512px; object-fit: contain;'/></a>
                <p>
                    <b>Pronouns:</b> she/her<br/>
                    <b>Major:</b> Biology and Political Science<br/>
                    <b>Year:</b> 2027<br/>
                    <b>Hobbies:</b> running, bullet journaling, drinking coffee<br/>
                    <b>Favorite Science Experiment:</b> strawberry 🍓 dna extraction!<br/>
                    <b>Fun Fact:</b> I ran two half marathons last year<br/>
                </p>
            </article>
            <article>
                <h2>Victor Yin</h2>
                <a class='image fit'><img src='{{url_for("static", filename="images_2027s/victor-yin.jpg")}}' alt='Victor Yin' style='height: 512px; object-fit: contain;'/></a>
                <p>
                    <b>Pronouns:</b> she/her<br/>
                    <b>Major:</b> Math<br/>
                    <b>Year:</b> 2027<br/>
                    <b>Hobbies:</b> Play chess, watch anime, and read<br/>
                    <b>Favorite Science Experiment:</b> Chemical Traffic Lights<br/>
                    <b>Fun Fact:</b> I am 173 out of 1089 episodes into the anime One Piece<br/>
                </p>
            </article>
            <article>
                <h2>Claire Wu</h2>
                <a class='image fit'><img src='{{url_for("static", filename="images_2026s/claire-wu.jpg")}}' alt='Claire Wu' style='height: 512px; object-fit: contain;'/></a>
                <p>
                    <b>Pronouns:</b> she/her<br/>
                    <b>Major:</b> Biological Engineering<br/>
                    <b>Year:</b> 2026<br/>
                    <b>Hobbies:</b> Baking, cooking, violin<br/>
                    <b>Favorite Science Experiment:</b> Oobleck<br/>
                    <b>Fun Fact:</b> As a kid, I was really good at monkey bars<br/>
                </p>
            </article>
            <article>
                <h2>Jonathan Song</h2>
                <a class='image fit'><img src='{{url_for("static", filename="images_2026s/jonathan-song.png")}}' alt='Jonathan Song' style='height: 512px; object-fit: contain;'/></a>
                <p>
                    <b>Pronouns:</b> he/him<br/>
                    <b>Major:</b> Computer Science/Neuroscience<br/>
                    <b>Year:</b> 2026<br/>
                    <b>Hobbies:</b> Eating<br/>
                    <b>Favorite Science Experiment:</b> Archimedes screw<br/>
                    <b>Fun Fact:</b> I once ate 60 dumplings in 20 minutes.<br/>
                </p>
            </article>
            <article>
                <h2>June Yin</h2>
                <a class='image fit'><img src='{{url_for("static", filename="images_2026s/june-yin.jpg")}}' alt='June Yin' style='height: 512px; object-fit: contain;'/></a>
                <p>
                    <b>Pronouns:</b> she/her<br/>
                    <b>Major:</b> Engineering<br/>
                    <b>Year:</b> 2026<br/>
                    <b>Hobbies:</b> lifting, art, watching cdramas<br/>
                    <b>Favorite Science Experiment:</b> Popping boba<br/>
                    <b>Fun Fact:</b> I was born in June<br/>
                </p>
            </article>
            <article>
                <h2>Mikaela Finlay</h2>
                <a class='image fit'><img src='{{url_for("static", filename="images_2026s/mikaela-finlay.jpg")}}' alt='Mikaela Finlay' style='height: 512px; object-fit: contain;'/></a>
                <p>
                    <b>Pronouns:</b> they/them<br/>
                    <b>Major:</b> Math/Computer Science<br/>
                    <b>Year:</b> 2026<br/>
                    <b>Hobbies:</b> ultimate frisbee, crochet, talking about ultimate frisbee and crochet<br/>
                    <b>Favorite Science Experiment:</b> GloGerm Patient Zero<br/>
                    <b>Fun Fact:</b> I am an ordained minister!<br/>
                </p>
            </article>
            <article>
                <h2>Nana Sapong</h2>
                <a class='image fit'><img src='{{url_for("static", filename="images_2026s/nana-sapong.jpg")}}' alt='Nana Sapong' style='height: 512px; object-fit: contain;'/></a>
                <p>
                    <b>Pronouns:</b> she/her<br/>
                    <b>Major:</b> Chemical Engineering<br/>
                    <b>Year:</b> 2026<br/>
                    <b>Hobbies:</b> Crocheting, reading, journaling, watching movies.<br/>
                    <b>Favorite Science Experiment:</b> Instant snow<br/>
                    <b>Fun Fact:</b> One of my legs is longer than the other :o<br/>
                </p>
            </article>
            <article>
                <h2>Sheikh Mahmud</h2>
                <a class='image fit'><img src='{{url_for("static", filename="images_2026s/sheikh-mahmud.jpg")}}' alt='Sheikh Mahmud' style='height: 512px; object-fit: contain;'/></a>
                <p>
                    <b>Pronouns:</b> she/her<br/>
                    <b>Major:</b> Biological Engineering<br/>
                    <b>Year:</b> 2026<br/>
                    <b>Hobbies:</b> Baking and cake decorating, doing henna art<br/>
                    <b>Favorite Science Experiment:</b> Iodine clock reaction<br/>
                    <b>Fun Fact:</b> I can say all the presidents in order in 13 seconds<br/>
                </p>
            </article>
            <article>
                <h2>Charles Sloane</h2>
                <a class='image fit'><img src='{{url_for("static", filename="images_2025s/charles-sloane.png")}}' alt='Charles Sloane' style='height: 512px; object-fit: contain;'/></a>
                <p>
                    <b>Pronouns:</b> he/him<br/>
                    <b>Major:</b> Biological Engineering<br/>
                    <b>Year:</b> 2025<br/>
                    <b>Hobbies:</b> Rowing, tennis<br/>
                    <b>Favorite Science Experiment:</b> Elephant toothpaste<br/>
                    <b>Fun Fact:</b> I have two middle names.<br/>
                </p>
            </article>
            <article>
                <h2>Curtis Chang</h2>
                <a class='image fit'><img src='{{url_for("static", filename="images_2025s/curtis-chang.jpg")}}' alt='Curtis Chang' style='height: 512px; object-fit: contain;'/></a>
                <p>
                    <b>Pronouns:</b> he/him<br/>
                    <b>Major:</b> Math and Computer Science/Economics<br/>
                    <b>Year:</b> 2025<br/>
                    <b>Hobbies:</b> Math, Origami, Cooking/Baking, Music<br/>
                    <b>Favorite Science Experiment:</b> Elephant Toothpaste<br/>
                    <b>Fun Fact:</b> I have hitchhiker's thumbs<br/>
                </p>
            </article>
            <article>
                <h2>Daniel Hong</h2>
                <a class='image fit'><img src='{{url_for("static", filename="images_2025s/daniel-hong.jpg")}}' alt='Daniel Hong' style='height: 512px; object-fit: contain;'/></a>
                <p>
                    <b>Pronouns:</b> he/him<br/>
                    <b>Major:</b> Math and Computer Science<br/>
                    <b>Year:</b> 2025<br/>
                    <b>Hobbies:</b> Running, basketball, hiking, watching sports<br/>
                    <b>Favorite Science Experiment:</b> Mousetrap Car<br/>
                    <b>Fun Fact:</b> I am against using umbrellas<br/>
                </p>
            </article>
            <article>
                <h2>Jay Lu</h2>
                <a class='image fit'><img src='{{url_for("static", filename="images_2025s/jay-lu.jpg")}}' alt='Jay Lu' style='height: 512px; object-fit: contain;'/></a>
                <p>
                    <b>Pronouns:</b> she/her<br/>
                    <b>Major:</b> Computer Science/Neuroscience<br/>
                    <b>Year:</b> 2025<br/>
                    <b>Hobbies:</b> cards, board games, frisbee, tennis, baking, thriller movies<br/>
                    <b>Favorite Science Experiment:</b> tea bag rockets<br/>
                    <b>Fun Fact:</b> I can move my ears<br/>
                </p>
            </article>
            <article>
                <h2>Melissa Du</h2>
                <a class='image fit'><img src='{{url_for("static", filename="images_2025s/melissa-du.jpg")}}' alt='Melissa Du' style='height: 512px; object-fit: contain;'/></a>
                <p>
                    <b>Pronouns:</b> she/her<br/>
                    <b>Major:</b> Computer Science and Neuroscience<br/>
                    <b>Year:</b> 2025<br/>
                    <b>Hobbies:</b> reading, writing, lifting<br/>
                    <b>Favorite Science Experiment:</b> the one where the stem gets multicolored because of capillary action<br/>
                    <b>Fun Fact:</b> I once slept over at a museum<br/>
                </p>
            </article>
            <article>
                <h2>Nrithya (Nitu) Renganathan</h2>
                <a class='image fit'><img src='{{url_for("static", filename="images_2025s/nitu-renganathan.png")}}' alt='Nrithya (Nitu) Renganathan' style='height: 512px; object-fit: contain;'/></a>
                <p>
                    <b>Pronouns:</b> she/her<br/>
                    <b>Major:</b> Urban Planning and Computer Science<br/>
                    <b>Year:</b> 2025<br/>
                    <b>Hobbies:</b> Dance, A Cappella, Contact staff / staff spinning, Reading<br/>
                    <b>Favorite Science Experiment:</b> tea bag rockets<br/>
                    <b>Fun Fact:</b> A group of frogs is known as an army 🐸<br/>
                </p>
            </article>
            <article>
                <h2>Sidney Wang</h2>
                <a class='image fit'><img src='{{url_for("static", filename="images_2025s/sidney-wang.jpg")}}' alt='Sidney Wang' style='height: 512px; object-fit: contain;'/></a>
                <p>
                    <b>Pronouns:</b> she/her<br/>
                    <b>Major:</b> Biological Engineering<br/>
                    <b>Year:</b> 2025<br/>
                    <b>Hobbies:</b> ice skating, random netflix documentaries, painting<br/>
                    <b>Favorite Science Experiment:</b> Popping Boba<br/>
                    <b>Fun Fact:</b> I passed my license exam by a single point<br/>
                </p>
            </article>
            <article>
                <h2>Vishaal Ram</h2>
                <a class='image fit'><img src='{{url_for("static", filename="images_2025s/vishaal-ram.jpg")}}' alt='Vishaal Ram' style='height: 512px; object-fit: contain;'/></a>
                <p>
                    <b>Pronouns:</b> he/him<br/>
                    <b>Major:</b> Computer Science<br/>
                    <b>Year:</b> 2025<br/>
                    <b>Hobbies:</b> lying on grass, jumping over things, and making snowmen<br/>
                    <b>Favorite Science Experiment:</b> MARBLE ROLLERCOASTER (yay physics)<br/>
                    <b>Fun Fact:</b> i can say the abcs backwards in under three seconds<br/>
                </p>
            </article>
            <article>
                <h2>Brandon Lei</h2>
                <a class='image fit'><img src='{{url_for("static", filename="images_2024s/brandon-lei.jpg")}}' alt='Brandon Lei' style='height: 512px; object-fit: contain;'/></a>
                <p>
                    <b>Pronouns:</b> he/him<br/>
                    <b>Major:</b> Computer Science<br/>
                    <b>Year:</b> 2024<br/>
                    <b>Hobbies:</b> Rubix Cube, Basketball<br/>
                    <b>Favorite Science Experiment:</b> Elephant Tooth Paste<br/>
                    <b>Fun Fact:</b> I can solve a rubix cube in 15 seconds! <br/>
                </p>
            </article>
            <article>
                <h2>Bryan Wong</h2>
                <a class='image fit'><img src='{{url_for("static", filename="images_2024s/bryan-wong.jpg")}}' alt='Bryan Wong' style='height: 512px; object-fit: contain;'/></a>
                <p>
                    <b>Pronouns:</b> he/him<br/>
                    <b>Major:</b> Biological Engineering<br/>
                    <b>Year:</b> 2024<br/>
                    <b>Hobbies:</b> Curling (the one on ice!), cooking, and dealing out science fun facts 24/7<br/>
                    <b>Favorite Science Experiment:</b> All of my experiments with mice!<br/>
                    <b>Fun Fact:</b> I'm one of the presidents of the MIT Curling team!<br/>
                </p>
            </article>
            <!-- <article>
                <header>
                    <h2>Alexis Cho</h2>
                </header>
                <a class="image fit"><img alt=""
                                          src="{{url_for('static', filename='images_20_21/board/alexis.JPG')}}" style="height: 512px; object-fit: contain;"/></a>
                <p>
                    <b>Major:</b> Course 7: Biology <br/>
                    <b>Year:</b> Class of 2023 <br/>
                    <b>Position:</b> Board member, Social Chair <br/>
                    <b>Hobbies: </b> Writing, drawing, learning languages, and watching winter skating sports <br/>
                    <b>Favorite Science Experiment:</b> Building a simple DC motor <br/>
                    <b>Fun Fact:</b>My favorite movie is Jurassic Park, and I love anything dinosaur-themed! <br/>
                </p>
            </article>

            <article>
                <header>
                    <h2>Brandon Lei</h2>
                </header>
                <a class="image fit"><img alt=""
                                          src="{{url_for('static', filename='images_20_21/board/brandon.jpg')}}"
                                          style="height: 512px; object-fit: contain;"/></a>
                <p>
                    <b>Major:</b> Course 18C: Mathematics with Computer Science<br/>
                    <b>Year:</b> Class of 2024 <br/>
                    <b>Position:</b> Board member, Student Relations <br/>
                    <b>Hobbies: </b> Basketball, dancing, hip-hop, cubing, coding <br/>
                    <b>Favorite Science Experiment:</b> Density rainbow with fluids <br/>
                    <b>Fun Fact:</b> I can solve a rubix cube in under 20 seconds. <br/>
                </p>
            </article>
            <article>
                <header>
                    <h2>Brianna Yao</h2>
                </header>
                <a class="image fit"><img alt=""
                                          src="{{url_for('static', filename='images_20_21/board/brianna.jpg')}}"
                                          style="height: 512px; object-fit: contain;"/></a>
                <p>
                    <b>Major:</b> Course 6-7/20: Computer Science and Biology/Biological Engineering<br/>
                    <b>Year:</b> Class of 2024 <br/>
                    <b>Position:</b> Board member, Student Relations <br/>
                    <b>Hobbies: </b> Calligraphy/bullet journaling, playing tennis, traveling <br/>
                    <b>Favorite Science Experiment:</b> Color changing milk <br/>
                    <b>Fun Fact:</b> I was a ballsperson at the US Open. <br/>
                </p>
            </article>

            <article>
                <header>
                    <h2>Christina Ta</h2>
                </header>
                <a class="image fit"><img alt=""
                                          src="{{url_for('static', filename='images_20_21/board/tina.jpg')}}"
                                          style="height: 512px; object-fit: contain;"/></a>
                <p>
                    <b>Major:</b> Course 20: Bioengineering<br/>
                    <b>Year:</b> Class of 2022 <br/>
                    <b>Position:</b> Board member, Student Relations <br/>
                    <b>Hobbies: </b> Singing, PC gaming <br/>
                    <b>Favorite Science Experiment:</b> Magic color changing flower (using ammonia) <br/>
                    <b>Fun Fact:</b> I don't know how to swim or ride a bike. <br/>
                </p>
            </article>
            <article>
                <header>
                    <h2>Daniel Zhang</h2>
                </header>
                <a class="image fit"><img alt=""
                                          src="{{url_for('static', filename='images_20_21/board/daniel.jpg')}}" style="height: 512px; object-fit: contain;"/></a>
                <p>
                    <b>Major:</b> Course 7: Biology <br/>
                    <b>Year:</b> Class of 2022 <br/>
                    <b>Position:</b> 2021 Co-director <br/>
                    <b>Hobbies: </b> Badminton, mystery/sci-fi shows, traveling <br/>
                    <b>Favorite Science Experiment:</b> Oobleck! <br/>
                    <b>Fun Fact:</b> I own an eppendorf pipette pen. <br/>
                </p>
            </article>
            <article>
                <header>
                    <h2>Darren Lim</h2>
                </header>
                <a class="image fit"><img alt=""
                                          src="{{url_for('static', filename='images_20_21/board/darren.jpg')}}" style="height: 512px; object-fit: contain;"/></a>
                <p>
                    <b>Major:</b> Course 6-9: Computer Science and Cognitive Science<br/>
                    <b>Year:</b> Class of 2023 <br/>
                    <b>Position:</b> Board member, Webmaster, EHS <br/>
                    <b>Hobbies: </b> Cooking, learning languages, VR
                    <br/>
                    <b>Favorite Science Experiment:</b> Infinity mirror clock!
                    <br/>
                    <b>Fun Fact:</b> I have a wall of business cards to represent as "postcards" of past adventures!
                    <br/>
                </p>
            </article>
            <article>
                <header>
                    <h2>David Wu</h2>
                </header>
                <a class="image fit"><img alt=""
                                          src="{{url_for('static', filename='images_20_21/board/david.jpg')}}" style="height: 512px; object-fit: contain;"/></a>
                <p>
                    <b>Major:</b> Course 6-3: Computer Science <br/>
                    <b>Year:</b> Class of 2023 <br/>
                    <b>Position:</b> Board member, EHS <br/>
                    <b>Hobbies: </b> Running and playing tennis. I also enjoy learning new and interesting new things!
                    <br/>
                    <b>Favorite Science Experiment:</b> Teabag rockets
                    <br/>
                    <b>Fun Fact:</b> I'd like to think that I am casually superstitious, and I will wear the same shirt
                    or eat the same foods before doing something important.
                    <br/>
                </p>
            </article>
            <article>
                <header>
                    <h2>Emily Fang</h2>
                </header>
                <a class="image fit"><img alt=""
                                          src="{{url_for('static', filename='images_20_21/board/emily.jpg')}}" style="height: 512px; object-fit: contain;"/></a>
                <p>
                    <b>Major:</b> Course 2: Mechanical Engineering <br/>
                    <b>Year:</b> Class of 2023 <br/>
                    <b>Position:</b> Board member, Mentor Relations <br/>
                    <b>Hobbies: </b> Knitting, cross-stitching, watching The Office, napping
                    <br/>
                    <b>Favorite Science Experiment:</b> Exploding Gummy Bear
                    <br/>
                    <b>Fun Fact:</b> I was born with crooked pinkies!
                    <br/>
                </p>
            </article>
            <article>
                <header>
                    <h2>Grace Kim</h2>
                </header>
                <a class="image fit"><img alt=""
                                          src="{{url_for('static', filename='images_20_21/board/grace.jpg')}}" style="height: 512px; object-fit: contain;"/></a>
                <p>
                    <b>Major:</b> Course 6-3: Computer Science<br/>
                    <b>Year:</b> Class of 2023 <br/>
                    <b>Position:</b> Board member, Finance <br/>
                    <b>Hobbies: </b> Bullet journaling, drawing, learning how to bake bit by bit <br/>
                    <b>Favorite Science Experiment:</b> Optical clocks (that proved relativity) <br/>
                    <b>Fun Fact:</b> I held Lauv's hand at his concert in Boston!
                    <br/>
                </p>
            </article>
            <article>
                <header>
                    <h2>Jason Li</h2>
                </header>
                <a class="image fit"><img alt=""
                                          src="{{url_for('static', filename='images_20_21/board/jason.jpg')}}" style="height: 512px; object-fit: contain;"/></a>
                <p>
                    <b>Major:</b> Course 11-6: Urban Science and Planning with Computer Science <br/>
                    <b>Year:</b> Class of 2024 <br/>
                    <b>Position:</b> Board member, Mentor Relations <br/>
                    <b>Hobbies: </b> Singing, swimming, staying up later than planned <br/>
                    <b>Favorite Science Experiment:</b> Hoop Glider <br/>
                    <b>Fun Fact:</b> I collect rubber ducks. <br/>
                </p>
            </article>
            <article>
                <header>
                    <h2>Jennifer Wen</h2>
                </header>
                <a class="image fit"><img alt=""
                                          src="{{url_for('static', filename='images_20_21/board/jennifer.JPG')}}"
                                          style="height: 512px; object-fit: contain;"/></a>
                <p>
                    <b>Major:</b> Course 20: Bioengineering <br/>
                    <b>Year:</b> Class of 2023 <br/>
                    <b>Position:</b> Board member, Social Chair <br/>
                    <b>Hobbies: </b> Dancing, pilates-yoga, eating yummy food <br/>
                    <b>Favorite Science Experiment:</b> Ice Cream in a Bag <br/>
                    <b>Fun Fact:</b> I have a photo album dedicated to my favorite memes! <br/>
                </p>
            </article>
            <article>
                <header>
                    <h2>Julia Chen</h2>
                </header>
                <a class="image fit"><img alt=""
                                          src="{{url_for('static', filename='images_20_21/board/julia.jpg')}}" style="height: 512px; object-fit: contain;"/></a>
                <p>
                    <b>Major:</b> Undecided<br/>
                    <b>Year:</b> Class of 2024 <br/>
                    <b>Position:</b> Board member, Mentor Relations <br/>
                    <b>Hobbies: </b> Soccer, Tiktok <br/>
                    <b>Favorite Science Experiment:</b> Van De Graff Generator <br/>
                    <b>Fun Fact:</b> I'm basically addicted to gum. <br/>
                </p>
            </article>
            <article>
                <header>
                    <h2>Katie Gravel</h2>
                </header>
                <a class="image fit"><img alt=""
                                          src="{{url_for('static', filename='images_20_21/board/katie.jpg')}}" style="height: 512px; object-fit: contain;"/></a>
                <p>
                    <b>Major:</b> Course 18: Mathematics <br/>
                    <b>Year:</b> Class of 2021 <br/>
                    <b>Position:</b> Board member, Mentor Relations <br/>
                    <b>Hobbies: </b> Talking aimless walks, climbing, and watching rom coms
                    <br/>
                    <b>Favorite Science Experiment:</b> Strawberry DNA
                    <br/>
                    <b>Fun Fact:</b> All of photos for my spotify playlists are pictures of cows
                    <br/>
                </p>
            </article>
            <article>
                <header>
                    <h2>Morgan Mayborne</h2>
                </header>
                <a class="image fit"><img alt=""
                                          src="{{url_for('static', filename='images_20_21/board/morgan.jpg')}}" style="height: 512px; object-fit: contain;"/></a>
                <p>
                    <b>Major:</b> Course 2: Mechanical Engineering <br/>
                    <b>Year:</b> Class of 2023 <br/>
                    <b>Position:</b> Board member, Student Relations <br/>
                    <b>Hobbies: </b> Drums, Baseball, Pulling unproductive all-nighters, and writing
                    <br/>
                    <b>Favorite Science Experiment:</b> Elephant Toothpaste!!
                    <br/>
                    <b>Fun Fact:</b> I have never ever in my life had a "good hair day".
                    <br/>
                </p>
            </article>
            <article>
                <header>
                    <h2>Muye Yang "Willers"</h2>
                </header>
                <a class="image fit"><img alt=""
                                          src="{{url_for('static', filename='images_20_21/board/willers.jpg')}}"
                                          style="height: 512px; object-fit: contain;"/></a>
                <p>
                    <b>Major:</b> Course 8: Physics and Course 18: Mathematics <br/>
                    <b>Year:</b> Class of 2022 <br/>
                    <b>Position:</b> 2021 Co-director <br/>
                    <b>Hobbies: </b> Photography, tea, doodling, board games, math & physics <br/>
                    <b>Favorite Science Experiment:</b> Iodine clock <br/>
                    <b>Fun Fact:</b> I’ve attended 7 elementary/middle schools and 3 high schools ¯\_(ツ)_/¯ <br/>
                </p>
            </article>
            <article>
                <header>
                    <h2>Neil Deshmukh</h2>
                </header>
                <a class="image fit"><img alt=""
                                          src="{{url_for('static', filename='images_20_21/board/neil.jpg')}}"
                                          style="height: 512px; object-fit: contain;"/></a>
                <p>
                    <b>Major:</b> Course 6-3: Computer Science<br/>
                    <b>Year:</b> Class of 2024 <br/>
                    <b>Position:</b> Board member, Pub + Swag <br/>
                    <b>Hobbies: </b> Biking, soccer, Overwatch, chilling with friends <br/>
                    <b>Favorite Science Experiment:</b> Laminar Flow balloon <br/>
                    <b>Fun Fact:</b> Even if I have my phone in hand, I somehow manage to get it lost. <br/>
                </p>
            </article>
            <article>
                <header>
                    <h2>Shriya Rangaswamy</h2>
                </header>
                <a class="image fit"><img alt=""
                                          src="{{url_for('static', filename='images_20_21/board/shriya.jpg')}}" style="height: 512px; object-fit: contain;"/></a>
                <p>
                    <b>Major:</b> Course 20: Bioengineering<br/>
                    <b>Year:</b> Class of 2024 <br/>
                    <b>Position:</b> Board member, Pub + Swag <br/>
                    <b>Hobbies: </b> Singing, drawing, cooking, and origami <br/>
                    <b>Favorite Science Experiment:</b> Making ice cream via freezing point depression <br/>
                    <b>Fun Fact:</b> I never follow recipes; I always come up with my own! <br/>
                </p>
            </article>
            <article>
                <header>
                    <h2>Summer Vo</h2>
                </header>
                <a class="image fit"><img alt=""
                                          src="{{url_for('static', filename='images_20_21/board/summer.jpg')}}" style="height: 512px; object-fit: contain;"/></a>
                <p>
                    <b>Major:</b> Course 6-3: Computer Science <br/>
                    <b>Year:</b> Class of 2021 <br/>
                    <b>Position:</b> Board member, Pub + Swag <br/>
                    <b>Hobbies: </b> Singing, sewing, doodling, folding paper stars <br/>
                    <b>Favorite Science Experiment:</b> Strawberry DNA <br/>
                    <b>Fun Fact:</b> I studied Math and Science at a Fine Arts high school. <br/>
                </p>
            </article>
            <article>
                <header>
                    <h2>Syamantak Payra</h2>
                </header>
                <a class="image fit"><img alt=""
                                          src="{{url_for('static', filename='images_20_21/board/syamantak.jpg')}}"
                                          style="height: 512px; object-fit: contain;"/></a>
                <p>
                    <b>Major:</b> Course 6-2: Electrical Engineering and Computer Science <br/>
                    <b>Year:</b> Class of 2022 <br/>
                    <b>Position:</b> Board member, Finance <br/>
                    <b>Hobbies: </b> Cars, discovering new music, Wikipedia rabbitholes <br/>
                    <b>Favorite Science Experiment:</b> Spaghetti bridges <br/>
                    <b>Fun Fact:</b> My friends once took to calling me Mary Poppins because my backpack always has
                    practically anything you might ever need. <br/>
                </p>
            </article>
            <article>
                <header>
                    <h2>Vainavi Mukkamala</h2>
                </header>
                <a class="image fit"><img alt=""
                                          src="{{url_for('static', filename='images_20_21/board/vainavi.jpg')}}"
                                          style="height: 512px; object-fit: contain;"/></a>
                <p>
                    <b>Major:</b> Course 20: Bioengineering <br/>
                    <b>Year:</b> Class of 2023 <br/>
                    <b>Position:</b> Board member, Finance <br/>
                    <b>Hobbies: </b> Painting, running, watching Indian films <br/>
                    <b>Favorite Science Experiment:</b> Cheek cell DNA extraction <br/>
                    <b>Fun Fact:</b> My first roller coaster was Kingda Ka, which is supposedly the tallest in the
                    Northeast ;P <br/>
                </p>
            </article>

        </section>
        <article class="post featured">
            <header class="major">
                <h2><a>Previous Board Members</a></h2>
            </header>
        </article>
        <section class="posts">
            <article>
                <header>
                    <h2>Addie Oh</h2>
                </header>
                <a class="image fit"><img alt="" src="{{url_for('static', filename='images_19_20/board/addie.jpg')}}"/></a>
                <p>
                    <b>Major:</b> Course 6-3: Computer Science and Course 17: Political Science <br/>
                    <b>Year:</b> Class of 2020 <br/>
                    <b>Position:</b> Board member, Publicity <br/>
                    <b>Hobbies: </b> Napping, blasting podcasts in the shower, passive aggressive emailing <br/>
                    <b>Favorite Science Experiment:</b> Marshmallow catapults <br/>
                    <b>Fun Fact:</b> There is no limit to the number of tangerines I can eat in one sitting. <br/>
                </p>
            </article>
            <article>
                <header>
                    <h2>Aman Patel</h2>
                </header>
                <a class="image fit"><img alt=""
                                          src="{{url_for('static', filename='images_19_20/board/aman.jpg')}}"/></a>
                <p>
                    <b>Major:</b> Course 6-7: Computer Science and Molecular Biology <br/>
                    <b>Year:</b> Class of 2020 <br/>
                    <b>Position:</b> Board member, EHS Chair <br/>
                    <b>Hobbies: </b> Playing tennis, watching sports, reading, learning new things <br/>
                    <b>Favorite Science Experiment:</b> Pure carbon from sugar and sulfuric acid!<br/>
                    <b>Fun Fact:</b> I don’t like chocolate, but I love asparagus! <br/>
                </p>
            </article>
            <article>
                <header>
                    <h2>Carolyn Jons</h2>
                </header>
                <a class="image fit"><img alt=""
                                          src="{{url_for('static', filename='images_19_20/board/carolyn.jpg')}}"/></a>
                <p>
                    <b>Major:</b> Course 3: Material Science<br/>
                    <b>Year:</b> Class of 2020 <br/>
                    <b>Position:</b> Board member, Finance <br/>
                    <b>Hobbies: </b> Unicycling, running, art, violin, cooking, baking <br/>
                    <b>Favorite Science Experiment:</b> Glowing Pickle!<br/>
                    <b>Fun Fact:</b> I won the Iowa State Fair grape stomping competition. The prize was an expensive
                    bottle of wine they couldn't legally give me. <br/>
                </p>
            </article>
            <article>
                <header>
                    <h2>Chiaki Kirby</h2>
                </header>
                <a class="image fit"><img alt="" src="{{url_for('static', filename='images_19_20/board/chiaki.jpg')}}"/></a>
                <p>
                    <b>Major:</b> Course 2: Mechanical Engineering <br/>
                    <b>Year:</b> Class of 2020 <br/>
                    <b>Position:</b> Board member, Mentor Relations <br/>
                    <b>Hobbies: </b> Reading, anything Camp Kesem, overly dramatic fantasy shows, Marvel movies <br/>
                    <b>Favorite Science Experiment:</b> Trashcan vortex rings <br/>
                    <b>Fun Fact:</b> I love Japanese snacks more than anything else. <br/>
                </p>
            </article>
            <article>
                <header>
                    <h2>Meghana Kamineni</h2>
                </header>
                <a class="image fit"><img alt=""
                                          src="{{url_for('static', filename='images_19_20/board/meghana.jpg')}}"/></a>
                <p>
                    <b>Major:</b> Course 6-7: Computer Science and Molecular Biology <br/>
                    <b>Year:</b> Class of 2021 <br/>
                    <b>Position:</b> 2020 Co-director <br/>
                    <b>Hobbies: </b> Exploring the city, trying to cook new things, hanging out with friends <br/>
                    <b>Favorite Science Experiment:</b> The classic – rubbing a balloon against your hair to make static
                    electricity!<br/>
                    <b>Fun Fact:</b> I can usually wake up from naps after twenty minutes without an alarm clock. <br/>
                </p>
            </article>
            <article>
                <header>
                    <h2>Nathan Liang </h2>
                </header>
                <a class="image fit"><img alt="" src="{{url_for('static', filename='images_19_20/board/nathan.jpg')}}"/></a>
                <p>
                    <b>Major:</b> Course 20: Bioengineering <br/>
                    <b>Year:</b> Class of 2021 <br/>
                    <b>Position:</b> 2020 Co-director <br/>
                    <b>Hobbies: </b> The Tech (MIT’s student-run newspaper), MIT Lion Dance, video games, obsessively
                    watching and critiquing movies <br/>
                    <b>Favorite Science Experiment:</b> Non-Newtonian fluids dancing on speakers <br/>
                    <b>Fun Fact:</b> I share my birthday with my dad and little sister! <br/>
                </p>
            </article>
            <article>
                <header>
                    <h2>Elissa Ito</h2>
                </header>
                <a class="image fit"><img alt="" src="{{url_for('static', filename='images_19_20/board/elissa.jpg')}}"/></a>
                <p>
                    <b>Major:</b> Course 2: Mechanical Engineering <br/>
                    <b>Year:</b> Class of 2023 <br/>
                    <b>Position:</b> Board member <br/>
                    <b>Hobbies: </b> Sailing, Squash, Cooking <br/>
                    <b>Favorite Science Experiment:</b> Growing gummy bears in water!! <br/>
                    <b>Fun Fact:</b> I own a cotton candy machine at home.<br/>
                </p>
            </article>

            <article>
                <header>
                    <h2>Maddi Focaracci</h2>
                </header>
                <a class="image fit"><img alt=""
                                          src="{{url_for('static', filename='images/board/dynamit_maddi_edited.jpg')}}"/></a>
                <p>
                    <b>Major:</b> Course 16: AeroAstro <br/>
                    <b>Year:</b> Class of 2021 <br/>
                    <b>Position:</b> Board member <br/>
                    <b>Hobbies: </b> Ultimate frisbee, painting, baking things, listening to my favorite movie
                    soundtracks <br/>
                    <b>Favorite Science Experiment:</b> Elephant toothpaste experiment! <br/>
                    <b>Fun Fact:</b> I’ve done a zero gravity maneuver in an airplane! <br/>
                </p>
            </article>

            <article>
                <header>
                    <h2>Julia Cho</h2>
                </header>
                <a class="image fit"><img alt=""
                                          src="{{url_for('static', filename='images/board/dynamit_julia_edited.jpg')}}"/></a>
                <p>
                    <b>Major:</b> Course 7: Biology <br/>
                    <b>Year:</b> Class of 2020 <br/>
                    <b>Position:</b> Co-director <br/>
                    <b>Hobbies: </b> Sailing <br/>
                    <b>Favorite Science Experiment:</b> Strawberry DNA <br/>
                    <b>Fun Fact:</b> I was born with two congenital heart defects that I had open-heart surgery for!
                    <br/>
                </p>
            </article>
            <article>
                <header>
                    <h2>Rebecca Shin</h2>
                </header>
                <a class="image fit"><img
                        alt="" src="{{url_for('static', filename='images/board/dynamit_rebecca_edited.jpg')}}"/></a>
                <p>
                    <b>Major:</b> Course 14: Economics and Course 15: Management <br/>
                    <b>Year:</b> Class of 2020 <br/>
                    <b>Position:</b> Co-director <br/>
                    <b>Hobbies: </b>Reading, playing music, eating <br/>
                    <b>Favorite Science Experiment:</b> The Marshmallow Challenge <br/>
                    <b>Fun Fact:</b> I never got my permit or driver's license... oops. <br/>
                </p>
            </article>
            <article>
                <header>
                    <h2>Stacy Godfreey-Igwe</h2>
                </header>
                <a class="image fit"><img alt=""
                                          src="{{url_for('static', filename='images/board/dynamit_stacy_edited.jpg')}}"/></a>
                <p>
                    <b>Major:</b> Course 2A: Mechanical Engineering and Course 17: Political Science <br/>
                    <b>Year:</b> Class of 2022 <br/>
                    <b>Position:</b> Previous Board member <br/>
                    <b>Hobbies: </b> Viola, card games, journaling, reading <br/>
                    <b>Favorite Science Experiment:</b> Elephant Toothpaste <br/>
                    <b>Fun Fact:</b> I have a twin sister and we share a birthday with MIT! <br/>
                </p>
            </article>
            <article>
                <header>
                    <h2>Tim Gutterman</h2>
                </header>
                <a class="image fit"><img alt=""
                                          src="{{url_for('static', filename='images/board/dynamit_tim_edited.jpg')}}"/></a>
                <p>
                    <b>Major:</b> Course 9: Brain and Cognitive Sciences <br/>
                    <b>Year:</b> Class of 2022 <br/>
                    <b>Position:</b> Previous Board member <br/>
                    <b>Hobbies: </b> Lifting, sci-fi/fantasy novels, whipping and/or naynaying <br/>
                    <b>Favorite Science Experiment:</b> Bobo Dolls (for obvious reasons) <br/>
                    <b>Fun Fact:</b> My primary password is over twenty characters long and would take 19 septillion
                    years to crack. <br/>
                </p>
            </article>
            <article>
                <header>
                    <h2>Sope Eweje</h2>
                </header>
                <a class="image fit"><img alt="" src="{{url_for('static', filename='images/board/sope.jpg')}}"/></a>
                <p>
                    <b>Major:</b> Course 2: Mechanical Engineering <br/>
                    <b>Year:</b> Class of 2019 <br/>
                    <b>Position:</b> Previous Board member, Student Outreach <br/>
                    <b>Hobbies: </b> Playing saxophone, basketball, watching sports <br/>
                    <b>Favorite Science Experiment:</b> Van de Graff generator!<br/>
                    <b>Fun Fact:</b> I have an identical twin brother. <br/>
                </p>
            </article>

            <article>
                <header>
                    <h2>Nan Tian</h2>
                </header>
                <a class="image fit"><img alt="" src="{{url_for('static', filename='images/board/nan.jpg')}}"/></a>
                <p>
                    <b>Major:</b> Course 18: Mathematics <br/>
                    <b>Year:</b> Class of 2019 <br/>
                    <b>Position:</b> 2018 Director <br/>
                    <b>Hobbies:</b> Traveling, Hiking, Eating, Yoga, Salsa Dancing, Fantasy Football <br/>
                    <b>Favorite Science Experiment:</b> Elephant Toothpaste with Hydrogen Peroxide! <br/>
                    <b>Fun Fact:</b> You and I add up better than a Riemann Sum ;) <br/>
                </p>
            </article>
            <article>
                <header>
                    <h2>Kelvin Lu</h2>
                </header>
                <a class="image fit"><img alt="" src="{{url_for('static', filename='images/board/kelvin.jpg')}}"/></a>
                <p>
                    <b>Major:</b> Course 6-2: EECS <br/>
                    <b>Year:</b> Class of 2019 <br/>
                    <b>Position:</b> 2018 Director <br/>
                    <b>Hobbies: </b> Baking pastries, Reading, Dancing (K-Pop!), Contributing to the Online Discourse
                    <br/>
                    <b>Favorite Science Experiment:</b> Magnifying glass on a hot, dry summer day to burn leaves! <br/>
                    <b>Fun Fact:</b> I met a girl named Joule before! Lots of energy. <br/>
                </p>
            </article>
            <article>
                <header>
                    <h2>Alice Zhou</h2>
                </header>
                <a class="image fit"><img alt="" src="{{url_for('static', filename='images/board/alice.jpg')}}"/></a>
                <p>
                    <b>Major:</b> Course 7 & 15: Biology and Management <br/>
                    <b>Year:</b> Class of 2020 <br/>
                    <b>Position:</b> Previous Board member <br/>
                    <b>Hobbies: </b> Reading, Traveling, Exploring, Fencing, Drinking tea, Saving lives as an EMT 😉
                    <br/>
                    <b>Favorite Science Experiment:</b> Creating glow in the dark E.coli!<br/>
                    <b>Fun Fact:</b> She loves all types of potatoes. <br/>
                </p>
            </article>

            <article>
                <header>
                    <h2>Siddarth Guha</h2>
                </header>
                <a class="image fit"><img alt="" src="{{url_for('static', filename='images/board/sid.jpg')}}"/></a>
                <p>
                    <b>Major:</b> Course 20: Biological Engineering <br/>
                    <b>Year:</b> Class of 2019 <br/>
                    <b>Position:</b> Previous Board member <br/>
                    <b>Hobbies: </b> Singing, Theater, Asian food, Horror Movies <br/>
                    <b>Favorite Science Experiment:</b> The Barking Dog!<br/>
                    <b>Fun Fact:</b> When I got to college, my roommate always took out the trash for me when I wasn't
                    around, so for the first semester of college, I thought we had a room service that would take out
                    our trash for us. <br/>
                </p>
            </article>
            <article>
                <header>
                    <h2>Yonah Borns-Weil </h2>
                </header>
                <a class="image fit"><img alt="" src="{{url_for('static', filename='images/board/yonah.jpg')}}"/></a>
                <p>
                    <b>Major:</b> Course 18: Mathematics <br/>
                    <b>Year:</b> Class of 2018<br/>
                    <b>Position:</b> Previous Board member <br/>
                    <b>Hobbies: </b> : Skiing, Hiking, Lifting weights, Ping pong, Other sports that I’m even worse at,
                    Talking over-energetically about random stuff, Traveling, Really spicy food, Making really long
                    lists <br/>
                    <b>Favorite Science Experiment:</b> Making Lichtenberg figures on wood (don’t try this one at home)!<br/>
                    <b>Fun Fact:</b> Most physicists agree that the big bang had the greatest energy density in history,
                    but I think that I’m a close second. <br/>
                </p>
            </article> -->
        </section>
    </div>
</div>
    {% endblock %}