{% extends "layout.html" %}
{% block body %}
<body class="is-loading">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <a class="logo">Bring DynaMIT to Your School!</a>
    </header>

    <!-- Nav -->
    <nav id="nav">
        <ul class="links">
            <li><a href="{{url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('about')  }}">About</a></li>
            <li><a href="{{  url_for('generic')  }}">Board</a></li>
            <li><a href="{{ url_for('elements')  }}">Donate</a></li>
            <li><a href="{{ url_for('apply')  }}">Apply</a></li>
            <li><a href="{{ url_for('publicity')  }}">Publicity</a></li>
            <li><a href="{{ url_for('faq')  }}">FAQ</a></li>
        </ul>
        <ul class="icons">
            <li><a class="icon fa-facebook" href="https://www.facebook.com/dynamitnonprofit/" target="_blank"><span
                    class="label">Facebook</span></a></li>
            <li><a class="icon alt fa-instagram" href="https://www.instagram.com/mitdynamit/"
                target="_blank"><span class="label">Instagram</span></a></li>
            <li><a class="icon fa-github" href="https://github.com/MIT-dynaMIT" target="_blank"><span class="label">GitHub</span></a>
            </li>
        </ul>
    </nav>


    <!-- Main -->
    <div id="main">

        <!-- Post -->
        <section class="post">
            <header class="major">
                <h1>Taste of DynaMIT</h1>
            </header>

            <!-- Text stuff -->
            <p><span class="image left"><img alt="" src="{{url_for('static', filename='images/outreach_detail.jpg')}}"/></span>We
                visit classrooms, parent nights, and science fairs in the Boston and Cambridge area, bringing with us
                fun activities as well as pamphlets and flyers for our free science program. These outreach sessions are
                filled with exciting, hands-on science experiments that we do right in the classroom to give a taste of
                what our program is like.

                If you are interested in having dynaMIT come to your school or have any questions, comments, or
                suggestions, please contact us at dynamit_board@mit.edu.

                We look forward to hearing from you!

                <!-- Image -->


                <!-- Preformatted Code -->

        </section>

    </div>

    {% endblock %}
